body {
    margin: 0px;
    font-family: "Myriad Pro";
    background-color: rgba(222,222,222,1.00);
}
.topbar {
    width: 100%;
    /* [disabled]height: 100px; */
    background-color: rgba(77,77,77,1.00);
    margin-bottom: 30px;
    position: fixed;
    display: block;
    min-height: 100px;
}
header  {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    align-items: center;
    /* [disabled]height: 100px; */
    min-width: 0px;
    min-height: 100px;
}
header p {
    color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 1.3rem;
}
header p span {
    font-weight: bold;
}

nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.navbutton {
    padding: 11px 15px;
    text-decoration: none;
    color: rgba(255,255,255,1.00);
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.00);
    margin-left: 20px;
    letter-spacing: 1.5px;
}
.mob-wrapper {
    display: none;
}






.container {
    min-height: 500px;
    margin: 0px auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}
.col {
    width: 31%;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* [disabled]padding: 10px; */
    box-sizing: border-box;
    background-color: rgba(49,112,41,1.00);
}
h1 {
    font-size: 2em;
    color: rgba(0,0,0,1.00);
}
.hide-dskt {
    display: none;
}
.col img {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}
.col p::first-line{
    font-weight: bolder;
}
.col p {
    color: rgba(255,255,255,1.00);
    margin: 20px;
    font-size: 0.875rem;
    line-height: 1rem;
}






@media (max-width:768px) {
  .col {
    width: 49%;
  }
.hide-dskt {
    display: block;
}
header {
    padding-left: 14px;
    padding-right: 15px;
}
nav {
    display: none;
}
.mob-wrapper {
    display: flex;
    /* [disabled]align-items: flex-end; */
}
.mob-nav {
    display: none;
    padding-top: 0px;
    position: fixed;
    margin-top: 30px;
    margin-left: -93px;
}
.mob-wrapper .mob-nav .navbutton {
    display: block;
    background-color: #317029;
}






    
}

@media (max-width:450px) {
  .col {
    width: 100%;
    }.hide-dskt {
    display: block;
}
.topbar {
    /* [disabled]position: static; */
    display: block;

}

header p {
    color: rgba(255,255,255,1.00);
    font-weight: 300;
    font-size: 1.1rem;
}

header {
    display: flex;
    /* [disabled]text-align: center; */
    padding-bottom: 10px;
    align-items: center;
}

nav {
    display: none;
}

nav .navbutton {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    display: block;
    width: 60%;
}
.mob-wrapper {
    display: block;
}

.container {
    padding-top: 140px;

}
.mob-nav {
    display: none;
    padding-top: 0px;
    position: fixed;
    margin-top: 2px;
    margin-left: -93px;
}





}
